<!DOCTYPE html>
<html lang="en " xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!ADMIN NAV!>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: lightblue">
    <div class="container-fluid">
        <a class="navbar-brand">BookDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/toview}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/notes}">Notes</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-link">
                    <a th:href="@{/logout}" style="margin-right: 20px">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!CONTENT!>


<!BOOKS!>

<h4 style="text-align: center; font-family: sans-serif, bold; margin-top: 20px;" >Books preview:</h4>
<div  class="table-responsive-md" style="margin: 30px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image URL</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">Page number</th>
            <th scope="col">Publication Date</th>
            <th scope="col">Publisher</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody th:each="book:${booklist}">
        <tr>
            <td th:text="${book.bookId}"><%=book.getBookId()%></td>
            <td><img th:src="${book.bookImgId.imgPath}" style="height: 20%; width: 20%;" ></td>
            <td th:text="${book.bookTitle}"><%=book.getBookTitle()%></td>
            <td th:text="${book.authorList}"><%=book.getAuthorList()%></td>
            <td th:text="${book.genreList}"><%=book.getGenreList()%></td>
            <td th:text="${book.bookRating}"><%=book.getBookRating()%></td>
            <td th:text="${book.bookPages}"><%=book.getBookPages()%></td>
            <td th:text="${book.bookPublicationDate}"><%=book.getBookPublicationDate()%></td>
            <td th:text="${book.publisherId.publisherName}"><%=book.getPublisherId().getPublisherName()%></td>
            <td th:text="${book.bookInfo}"><%=book.getBookInfo()%></td>
        </tr>

        </tbody>
    </table>
</div>

<div style="margin: 20px">

    <h4>Find Book by Title :</h4>
    <form class="d-flex w-50 p-3 bg-light " method="post" th:action="@{/booksearch}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="findbook">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>


<div style="margin: 20px" th:object="${findedbook}">
    <form class="p-3 bg-light" method="post">

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" >Book Id</label>
            <div class="col-sm-2">
                <input  name="bookid" type="text" class="form-control" th:value="${findedbook?.bookId}" readonly>
            </div>
        </div>

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" >Book Title</label>
            <div class="col-sm-2">
                <input name="booktitle" type="text" class="form-control" th:value="${findedbook?.bookTitle}" >
            </div>
        </div>

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Book Page number</label>
            <div class="col-sm-2">
                <input name="bookpages" type="text" class="form-control" th:value="${findedbook?.bookPages}" >
            </div>
        </div>

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Book Rating</label>
            <div class="col-sm-2">
                <input name="bookrating" type="text" class="form-control" th:value="${findedbook?.bookRating}" >
            </div>
        </div>

        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Book Publication Date</label>
            <div class="col-sm-2">
                <input name="bookdate" type="text" class="form-control" th:value="${findedbook?.bookPublicationDate}" >
            </div>
        </div>

        <label  class="col-sm-2 col-form-label">Genre</label>
        <div class="form-check form-check-inline row mb-3" th:each="gen:${genrelist}">
            <div class="col-sm-2">
                <input name="bookgenrename" class="form-check-input" type="checkbox" id="inlineCheckbox1" th:value="${gen?.genreName}" >
                <label  class="form-check-label" for="inlineCheckbox1" th:text="${gen?.genreName}"></label>
            </div>
        </div>

        <div class="input-group mb-3" style="margin-top: 10px">
            <label class="input-group-text" >Publishers</label>
            <select name="bookpublisherid" class="form-select w-50" >
                <option  selected>Choose...</option>
                <option th:each="pub:${publisherlist}" th:value="${pub?.publisherId}" th:text="${pub?.publisherName}" ></option>
            </select>
        </div>

        <div class="input-group mb-3" style="margin-top: 10px">
            <label class="input-group-text" for="inputGroupSelect01">Book Image</label>
            <select name="bookimgid" class="form-select w-50" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option th:each="url:${bookimglist}" th:value="${url?.bookImgId}" th:text="${url?.bookImgName}"></option>
            </select>
        </div>

        <div class="input-group mb-3" style="margin-top: 10px">
            <label class="input-group-text" for="inputGroupSelect02">Authors</label>
            <select name="authorname" class="form-select w-50" id="inputGroupSelect02">
                <option selected>Choose...</option>
                <option th:each="auth:${authorlist}"  th:value="${auth?.authorName}" th:text="${auth?.authorName}"> </option>
            </select>
        </div>

        <div class="input-group" style="margin-top: 10px">
            <span class="input-group-text">Note content</span>
            <textarea name="bookinfo" class="form-control" aria-label="With textarea" th:text="${findedbook?.bookInfo}"></textarea>
        </div>

        <button  type="submit" class="btn btn-primary" onclick="form.action = '/addbook';">Add</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/editbook';">Edit</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/removebook';">Remove</button>

    </form>
</div>



<!GENRES!>

<h4 style="text-align: center; font-family: sans-serif, bold; margin-top: 20px;" >Genres in Database:</h4>
<div  class="table-responsive-md" style="margin: 30px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Genre</th>
        </thead>
        <tbody th:each="genre:${genrelist}">
        <tr>
            <td th:text="${genre.genreId}"><%=genre.getGenreId()%></td>
            <td th:text="${genre.genreName}"><%=genre.getGenreName()%></td>
        </tr>
        </tbody>
    </table>
</div>


<div style="margin: 20px">
    <h4>Find Genre by name :</h4>
    <form class="d-flex p-3 bg-light w-50" method="post" th:action="@{/genresearch}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="findgenre">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>


<div style="margin: 20px" th:object="${findedgenre}">
    <form class="p-3 bg-light" method="post" action="">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Genre Id</label>
            <div class="col-sm-2">
                <input name="genreid" type="text" class="form-control" th:value="${findedgenre?.genreId}" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Genre Name</label>
            <div class="col-sm-2">
                <input name="genrename" type="text" class="form-control" th:value="${findedgenre?.genreName}" >
            </div>
        </div>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/addgenre';">Add</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/editgenre';">Edit</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/removegenre';">Remove</button>
    </form>
</div>






<!AUTHORS!>


<h4 style="text-align: center; font-family: sans-serif, bold; margin-top: 20px;" > Authors in Database:</h4>
<div  class="table-responsive-md" style="margin: 30px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </thead>
        <tbody th:each="author:${authorlist}">
        <tr>
            <td th:text="${author.authorId}"><%=author.getAuthorId()%></td>
            <td th:text="${author.authorName}"><%=author.getAuthorName()%></td>
            <td th:text="${author.authorSurname}"><%=author.getAuthorSurname()%></td>
        </tr>

        </tbody>
    </table>
</div>

<div style="margin: 20px">
    <h4>Find Author by name :</h4>
    <form class="d-flex p-3 bg-light w-50" method="post" th:action="@{/authorsearch}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="findauthor">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div style="margin: 20px" th:object="${findedauthor}" >
    <form class="p-3 bg-light" method="post" action="">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Author Id</label>
            <div class="col-sm-2">
                <input name="authorid" type="text" class="form-control" th:value="${findedauthor?.authorId}" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label"  >Author Name</label>
            <div class="col-sm-2">
                <input name="authorname" type="text" class="form-control" th:value="${findedauthor?.authorName}" >
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label" >Author Surname</label>
            <div class="col-sm-2">
                <input name="authorsurname" type="text" class="form-control" th:value="${findedauthor?.authorSurname}" >
            </div>
        </div>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/addauthor';">Add</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/editauthor';">Edit</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/removeauthor';">Remove</button>
    </form>
</div>


<!BOOKIMG!>
<h4 style="text-align: center; font-family: sans-serif, bold; margin-top: 20px;" >Book Images in Database:</h4>
<div  class="table-responsive-md" style="margin: 30px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Book Image Name</th>
            <th scope="col">Image URL</th>
        </thead>

        <tbody th:each="bookimg:${bookimglist}">
        <tr>
            <td th:text="${bookimg.bookImgId}"></td>
            <td th:text="${bookimg.bookImgName}"></td>
            <td th:text="${bookimg.imgPath}"></td>
        </tr>

        </tbody>
    </table>


    <div style="margin: 20px">
        <h4>Find Image by name :</h4>
        <form class="d-flex p-3 bg-light w-50" method="post" th:action="@{/bookimgsearch}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="findbookimg">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    <div style="margin: 20px" th:object="${findedbookimg}">
        <form class="p-3 bg-light" method="post" action="">
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Book Image Id</label>
                <div class="col-sm-2">
                    <input name="bookimgid" type="text" class="form-control" th:value="${findedbookimg?.bookImgId}" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Book Image Name</label>
                <div class="col-sm-2">
                    <input name="bookimgname" type="text" class="form-control" th:value="${findedbookimg?.bookImgName}" >
                </div>
            </div>
            <div class="row mb-3">
                <label  class="col-sm-2 col-form-label">Book Image URL</label>
                <div class="col-sm-6">
                    <input name="bookimgurl" type="text" class="form-control" th:value="${findedbookimg?.imgPath}" >
                </div>
            </div>
            <button  type="submit" class="btn btn-primary" onclick="form.action = '/addbookimg';">Add</button>
            <button  type="submit" class="btn btn-primary" onclick="form.action = '/editbookimg';">Edit</button>
            <button  type="submit" class="btn btn-primary" onclick="form.action = '/removebookimg';">Remove</button>
        </form>
    </div>


<!PUBLISHER!>
</div>
<h4 style="text-align: center; font-family: sans-serif, bold; margin-top: 20px;" >Publishers in Database:</h4>
<div  class="table-responsive-md" style="margin: 30px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
        </thead>
        <tbody th:each="publisher:${publisherlist}">
        <tr>
            <td th:text="${publisher.publisherId}"></td>
            <td th:text="${publisher.publisherName}"></td>
        </tr>
        </tbody>
    </table>
</div>


<div style="margin: 20px">
    <h4>Find Publisher by name :</h4>
    <form class="d-flex p-3 bg-light w-50" method="post" th:action="@{/publishersearch}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="findpublisher">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>


<div style="margin: 20px" th:object="${findedpublisher}">
    <form class="p-3 bg-light" method="post" action="">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Publisher Id</label>
            <div class="col-sm-2">
                <input name="publisherid" type="text" class="form-control" th:value="${findedpublisher?.publisherId}" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Publisher Name</label>
            <div class="col-sm-2">
                <input name="publishername" type="text" class="form-control" th:value="${findedpublisher?.publisherName}" >
            </div>
        </div>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/addpublisher';">Add</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/editpublisher';">Edit</button>
        <button  type="submit" class="btn btn-primary" onclick="form.action = '/removepublisher';">Remove</button>
    </form>
</div>

</body>
</html>